@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Dosis:wght@400;500;600;700&display=swap');

$primary = #BDD544
$beet = #CC3376
$beet_lt = #DA6B9B
$beet_dk = #710032
$green_dk = #b2ca3c
$green_extra_dk = #89a536

$text_beet = #CC3376
$text_green = #91A626
$text_lt_grey = #A2959A
$text_extra_lt_grey = #C1ABB3
$text_grey = #7C6E73
$text_grey_2 = #8E7E84

$border-radius = 30px